NODE_ENV=development
HOST=spot.server.com
SCHOOLS_FILE_PATH=/usr/src/app/schools.json
ELASTICS_URL=http://es01:9800
PORT=5000

SMTP_HOST=smtp.example.com
SMTP_PORT=465
SMTP_USER=test@example.com
SMTP_PASSWORD=SuperSecurePassword
SMTP_EMAIL=test@example.com

PROVIDER_REQUEST_RECEIVER=test@example.com